In [14]:
import os
import shutil
import pandas as pd
import numpy as np

import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text
from official.nlp import optimization  # to create AdamW optimizer
from sklearn.model_selection import train_test_split

from transformers import DistilBertTokenizerFast

import matplotlib.pyplot as plt

In [15]:
train_data_set = pd.read_csv("/home/mdirfan-code/projects/Sentimeter-v1.0/BERT_Model/Datasets/Training_dataset.csv")
train_data_set

,Unnamed: 0,sentiment,tweet_text
0,49647,Irrelevant,Last Weekend league for Fifa 20 Glad I could f...
1,43676,Positive,omg i'm so excited to watch dk play pubg
2,55915,Negative,all others who have problems with
3,14927,Positive,in
4,44039,Irrelevant,minho felix de jeongin sucked at pubg pretty h...
...,...,...,...
59191,37541,Negative,you
59192,6332,Neutral,I'm not even going to show a 7 2 loss.
59193,55392,Negative,Fuck this call of duty update..
59194,864,Positive,I should get up feed my dogs such that way whe...
59195,15956,Irrelevant,Welcome to The International!

In [16]:
test_data_set = pd.read_csv("/home/mdirfan-code/projects/Sentimeter-v1.0/BERT_Model/Datasets/Testing_dataset.csv")
test_data_set

,Unnamed: 0,sentiment,tweet_text
0,61413,Irrelevant,Looks to me like he failed to check out the wa...
1,44887,Irrelevant,Wow it takes all sorts of crazy people out the...
2,73662,Neutral,Nvidia Unveils The World s Fastest Gaming Moni...
3,36694,Neutral,Huge radio play here. Reinvention Corporate Ev...
4,2308,Negative,SO I HAPPY WHO ABOUT THIS.
...,...,...,...
14795,12630,Negative,where is all my Mamba Edition extras? I m bee...
14796,49615,Negative,Sell 700k fifa coins fucking this game
14797,12322,Negative,107 for a four game break and I can't even ev...
14798,4355,Irrelevant,has called me a madman.. I understood right fr...
14799,52612,Positive,RDR2 at 31m makes really this boy super happy.

In [17]:
train_data_set.drop(['Unnamed: 0'],axis=1,inplace=True)
train_data_set

        sentiment                                         tweet_text
0      Irrelevant  Last Weekend league for Fifa 20 Glad I could f...
1        Positive           omg i'm so excited to watch dk play pubg
2        Negative                  all others who have problems with
3        Positive                                                 in
4      Irrelevant  minho felix de jeongin sucked at pubg pretty h...
...           ...                                                ...
59191    Negative                                                you
59192     Neutral             I'm not even going to show a 7 2 loss.
59193    Negative                    Fuck this call of duty update..
59194    Positive  I should get up feed my dogs such that way whe...
59195  Irrelevant                      Welcome to The International!

[59196 rows x 2 columns]

In [18]:
test_data_set.drop('Unnamed: 0',axis=1,inplace=True)
test_data_set

        sentiment                                         tweet_text
0      Irrelevant  Looks to me like he failed to check out the wa...
1      Irrelevant  Wow it takes all sorts of crazy people out the...
2         Neutral  Nvidia Unveils The World s Fastest Gaming Moni...
3         Neutral  Huge radio play here. Reinvention Corporate Ev...
4        Negative                         SO I HAPPY WHO ABOUT THIS.
...           ...                                                ...
14795    Negative   where is all my Mamba Edition extras? I m bee...
14796    Negative             Sell 700k fifa coins fucking this game
14797    Negative   107 for a four game break and I can't even ev...
14798  Irrelevant  has called me a madman.. I understood right fr...
14799    Positive     RDR2 at 31m makes really this boy super happy.

[14800 rows x 2 columns]

In [19]:
train_X = list(train_data_set['tweet_text'])
train_y = list(train_data_set['sentiment'])
test_X = list(test_data_set['tweet_text'])
test_y = list(test_data_set['sentiment'])

In [20]:
train_y = pd.get_dummies(train_y)
test_y = pd.get_dummies(test_y)

In [21]:
train_y

       Irrelevant  Negative  Neutral  Positive
0               1         0        0         0
1               0         0        0         1
2               0         1        0         0
3               0         0        0         1
4               1         0        0         0
...           ...       ...      ...       ...
59191           0         1        0         0
59192           0         0        1         0
59193           0         1        0         0
59194           0         0        0         1
59195           1         0        0         0

[59196 rows x 4 columns]

In [22]:
test_y

       Irrelevant  Negative  Neutral  Positive
0               1         0        0         0
1               1         0        0         0
2               0         0        1         0
3               0         0        1         0
4               0         1        0         0
...           ...       ...      ...       ...
14795           0         1        0         0
14796           0         1        0         0
14797           0         1        0         0
14798           1         0        0         0
14799           0         0        0         1

[14800 rows x 4 columns]

In [23]:
tokenizer = DistilBertTokenizerFast.from_pretrained('distilbert-base-uncased')

vocab_file vocab.txt
tokenizer_file tokenizer.json
added_tokens_file added_tokens.json
special_tokens_map_file special_tokens_map.json
tokenizer_config_file tokenizer_config.json

In [24]:
train_encodings = tokenizer(train_X, truncation=True, padding=True)
test_encodings = tokenizer(test_X, truncation=True, padding=True)

In [25]:
train_dataset = tf.data.Dataset.from_tensor_slices((
    dict(train_encodings),
    train_y
))

test_dataset = tf.data.Dataset.from_tensor_slices((
    dict(test_encodings),
    test_y
))

:

: